# --- CONFIGURACIÓN CELULA 12 ---
DEBUG=1
SECRET_KEY=django-insecure-usa-una-clave-local-aqui
DATABASE_URL=sqlite:///db.sqlite3

# --- FUTURA CONEXIÓN SUPABASE (Para completar después) ---
# SUPABASE_URL=
# SUPABASE_KEY=