# --- FUTURA CONEXIÓN SUPABASE (Para completar después) ---

# En el caso de tener problemas de conexion con la IPV6, habilitar la IPv4 y viceversa
# No dejar "espacios" despues del "="
# 

#VARIABLES DE ENTORNO:

#Publishable Key (Buscar en supabase)
#SUPABASE_KEY=[YOUR-SUPABASE-KEY]


#IPv4
#DATABASE_URL=postgresql://postgres.mljqhmrwhnotmevvvclb:[YOUR-PASSWORD]@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require 

#IPv6
#DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.mljqhmrwhnotmevvvclb.supabase.co:5432/postgres?sslmode=require 