# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# Entorno virtual y dependencias
venv/
env/
.venv/
node_modules/



# Se sube la BD temporalmente para el desarrollo
# Base de Datos Local (¡Crítico!)
# No queremos subir datos de prueba ni usuarios locales al repo [cite: 33]
# *.sqlite3

# Archivos del sistema y Editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Variables de entorno (Seguridad)
# Aquí irán las futuras credenciales de Supabase
.env
.env.local

# Archivos de logs
*.log